.DS_Store
.idea
/vendor

/.composer
/.cpanel
/.cphorde
/.softalicious
/.ssh
/.subversion
/etc
/logs
/mail
/public_html/.htaccess
/ssl
/tmp
/www
.bash_logout
.bash_profile
.bashrc
.contactemail
.dns
.gemrc
.lastlogin
.zshrc
cpbackup-exclude.conf